.threeD {
    color: rgb(209, 53, 53);
    white-space: nowrap;
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.8s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px black;
  }
  
  .threeD:hover {
    transition: 0.8s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
      1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
      1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  }
  @media only screen and (max-width : 600px) {
    .threeD{
      color: rgb(209, 53, 53);
    white-space: nowrap;
    /* margin-top: 50px; */
    /* position: relative; */
    /* top: 50%; */
    /* left: 75%; */
    /* right: 50%; */
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    }
  }